body {
  background-color: #a2bfbc;
}

h1 {
  font-style: italic;
  color: #186158;
  animation-name: fly-in;
  animaion-duration: 4s;
  animation-delay: 2s;
}

p {
  font-family: helvetica, arial, sans-serif;
  margin: 2 em;
}

@-webkit-keyframes fly-in {
  0% {text-align: left;}
  100% {text-align: center;}
}
