body {
  background-color: #a2bfbc;
}

h1 {
  font-style: italic;
  font-size: 2.5rem;
  color: #186158;
  text-align: center;
  animation-name: fly-in;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-timing-function: ease-out;
  
}

p {
  font-family: verdana, arial, sans-serif;
  font-size: 1.2rem;
  color: #134d46;
  margin: 2 px;
  animation: fade-in 3s 2s;
  text-align: left;
}

@keyframes fly-in {
  0% {transform: translateX(-100vw);}
  100% {transform: translateX(-50vw);}
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
